.section {
  &--press {
    padding-bottom: 470px;

    @include mobile {
      padding-bottom: 60px;
    }
  }

  &--news {
    padding: 80px 0 120px;

    @include mobile {
      padding: 50px 0;
    }
  }
}

.heading {
  &-wrapper {
    display: flex;
    max-width: 880px;
    gap: 50px;

    @include mobile {
      max-width: 100%;
      flex-direction: column;
      gap: 200px;
    }
  }
  &__title {
    white-space: nowrap;
  }

  &__text {
    @include mainText;
    color: $color-light;
  }
}

.press-background {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 690px;
  z-index: 1;
  border: 150px solid rgb(11, 29, 43);
  box-sizing: content-box;
  pointer-events: none;

  @include mobile {
    top: -200px;
    width: 561px;
    height: auto;
    border: 130px solid rgb(11, 29, 43);
    aspect-ratio: 561 / 316;
    bottom: unset;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: 1;
    transform: translateY(160px);

    @include mobile {
      transform: none;
      height: auto;
    }
  }

  &__blur-layer {
    position: absolute;
    top: -26px;
    left: -100px;
    right: -100px;
    bottom: -162px;
    z-index: 2;
    filter: blur(40px);
    box-shadow: inset 0px 0px 1000px 80px rgb(11, 29, 43);
    border: 215px solid rgb(11, 29, 43);
    pointer-events: none;

    @include mobile {
      top: -105px;
      left: -130px;
      right: -130px;
      bottom: -90px;
      filter: blur(20px);
      box-shadow: inset 0px 0px 10px 80px rgb(11, 29, 43);
      border: 130px solid rgb(11, 29, 43);
    }
  }
}

.news-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 60px;
  margin-bottom: 90px;

  @include mobile {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 60px;
  }
}
