$primary-color: rgba(11, 29, 43, 1);
$secondary-color: rgba(197, 186, 139, 1);
$color-dark: rgba(0, 0, 0, 1);
$color-light: rgba(255, 255, 255, 1);
$color-pale: rgba(255, 255, 255, 0.5);
$color-info: rgba(114, 114, 114, 1);
$primary-font-family: 'Montserrat', sans-serif;
$secondary-font-family: 'TikTok Sans 18pt Expanded', sans-serif;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$page-header-bg: $primary-color;
