.header {
  @include flexible;
  position: relative;
  width: 100%;
  padding: 68px 0 79px;
  background-color: $page-header-bg;
  color: $color-light;

  @include media($mobile) {
    padding: 0;

    &:has(.burger__checkbox:checked) {
      z-index: 10;
    }
  }
}
