.button {
  @include flexible;
  background-color: $secondary-color;
  font-family: $secondary-font-family;
  font-weight: $font-medium;
  color: $color-light;
  padding: 16px 70px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(187, 177, 132, 1);
  }
}
