extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Новость";
	- const bodyClass = "article-page";
	- let page = "article";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/pages/article/article
	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/main.js")