extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Сектора бизнеса";
	- const bodyClass = "page-business";
	- let page = "business";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/pages/business/business
	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/main.js")