extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Контакты";
	- const bodyClass = "page-contacts";
	- let page = "contacts";

block content
	include ../../blocks/modules/header/header
	include ../../blocks/pages/contacts/contacts
	include ../../blocks/modules/footer/footer

block scripts
	script(src="js/main.js")