include ../../../views/helpers/mixins

- var newsItems = [{img: '/img/news-item1.png', date: '10.12.2026', title: 'Объединение компаний федерального уровня', text: 'Холдинг федерального значения «Kavaya Group» объединяет лучшие компании, являющиеся лидерами в занимаемых секторах внутреннего рынка – «Lafinele», «Food Milk», «Ваша Ферма».', link: '/article'},{img: '/img/news-item1.png', date: '10.12.2026', title: 'Объединение компаний федерального уровня', text: 'Холдинг федерального значения «Kavaya Group» объединяет лучшие компании, являющиеся лидерами в занимаемых секторах внутреннего рынка – «Lafinele», «Food Milk», «Ваша Ферма».', link: '/'},{img: '/img/news-item1.png', date: '10.12.2026', title: 'Объединение компаний федерального уровня', text: 'Холдинг федерального значения «Kavaya Group» объединяет лучшие компании, являющиеся лидерами в занимаемых секторах внутреннего рынка – «Lafinele», «Food Milk», «Ваша Ферма».', link: '/'}]

main(class='main')
	section(class='section section--light section--article')
		div(class='container')
			div(class='article')
				div(class='article__image-wrapper')
					img(class='article__image' src='../../../img/article-item1.png' alt='Объединение компаний федерального уровня')
				div(class='article__content')
					span(class='article__date') 10.12.2026
					h1(class='article__title') Объединение компаний федерального уровня
					p(class='article__text') На этой неделе на самой технологичной площадке России прошло важное событие для женщин-предпринимателей — очередной ежегодный Международный Женский Бизнес-Форум Skolkovo Women’s Forum 2023, включившем в себя 5 ключевых направлений: инвестиции, инновационные технологии, креативные индустрии, международная дипломатия и социальная ответственность.#[br]#[br]Спикеры, обсудили самые актуальные вопросы: Как выбирать инвестпроекты, чтобы влиять на развитие сектора в долгосрочной перспективе. Какой российский бизнес востребован у международных партнеров. Какие инновационные технологии в медицине создаются в России прямо сейчас. Где искать инновационные решения для современного рынка, как создать безопасное пространство для женщин, их реализации и роста. Спикерами мероприятия выступили: Наргиз Нойманн-Зандер, Юлия Савиных, Елена Шумилова, Светлана Журова, Евгения Шохина, Юлиана Винер, Марина Абрамова, Людмила Цой, Татьяна Минеева, Екатерина Рыбакова, Ангелина Попова, Татьяна Геворкян, Мария Терентьева-Галицких и многие другие.#[br]#[br]По традиции, холдинг KAVAYA GROUP – многопрофильная группа компаний федерального масштаба, объединяющая более 20 видов бизнеса по всей России – поддержала мероприятие. Сегодня холдинг, объединивший в себе достижения лучших в разных сферах бизнеса – компании, предоставляющих уникальную компетенцию в различных областях – будь то производство десертов и деликатесов, до международного агентства Family Office и консалтинговой компании в области управления финансами и кадрами.#[br]#[br]Глава холдинга KAVAYA GROUP Ваге Татинцян в своем интервью отметил: «Революции каждый день невозможны, если ты один. Именно сообщество и объединение, дает нам возможность видеть эволюцию качества жизни каждого человека изо дня в день!»

	section(class='section section--light section--other')
		div(class='container flex-column')
			p(class='other__heading') Другие новости
				ul.news-list
					each item in newsItems
						+news-card(item)
