article.news-card
	a.news-card__link(href='')
		div.news-card__image-wrapper
			img.news-card__image(src='' alt='' loading='lazy')
		div.news-card__content
			span.news-card__date
			p.news-card__title
			p.news-card__text