.section {
  &--contacts {
    padding: 0 0 638px;

    @include mobile {
      padding: 0 0 80px;
    }
  }
}

.contacts {
  &__title {
    margin-bottom: 90px;

    @include mobile {
      margin-bottom: 0;
      padding-bottom: 206px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 285px;

    @include mobile {
      flex-direction: column;
      gap: 50px;
    }
  }

  &__address {
    gap: 30px;
    max-width: 201px;
  }

  &__email {
    color: $secondary-color;
    @include mainText;
    display: block;
    transition: color 0.3s ease;
    width: fit-content;

    &:hover {
      color: rgb(187, 177, 132);
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__phone {
    color: $color-light;
    font-family: $primary-font-family;
    font-weight: $font-medium;
    font-size: 24px;
    display: block;
    transition: opacity 0.3s ease;
    width: fit-content;
    white-space: nowrap;

    &:hover {
      opacity: 0.5;
    }
  }

  &__location {
    color: $color-light;
    @include mainText;

    @include mobile {
      font-size: 16px;
    }
  }

  &__form {
    flex-grow: 1;

    &-title {
      @include secondaryText;
      color: $color-light;
      margin-bottom: 61px;

      @include mobile {
        font-size: 23px;
      }
    }

    &-button {
      width: fit-content;
    }
  }

  &__inputs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 140px;
    margin-bottom: 61px;

    & .input:has(input[name='message']) {
      grid-column: span 2;
    }

    @include mobile {
      @include column;
      gap: 20px;
    }
  }

  &-background {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 1920px;
    height: 690px;
    z-index: 1;
    border: 150px solid rgb(11, 29, 43);
    box-sizing: content-box;
    pointer-events: none;

    @include mobile {
      top: -200px;
      width: 561px;
      height: auto;
      border: 130px solid rgb(11, 29, 43);
      aspect-ratio: 561 / 316;
      bottom: unset;
    }

    &__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      z-index: 1;
      transform: translateY(160px);

      @include mobile {
        transform: none;
        height: auto;
      }
    }

    &__blur-layer {
      position: absolute;
      top: -26px;
      left: -100px;
      right: -100px;
      bottom: -162px;
      z-index: 2;
      filter: blur(40px);
      box-shadow: inset 0px 0px 1000px 80px rgb(11, 29, 43);
      border: 215px solid rgb(11, 29, 43);
      pointer-events: none;

      @include mobile {
        top: -105px;
        left: -130px;
        right: -130px;
        bottom: -90px;
        filter: blur(20px);
        box-shadow: inset 0px 0px 10px 80px rgb(11, 29, 43);
        border: 130px solid rgb(11, 29, 43);
      }
    }
  }
}
