main(class='main')
	section(class='section section--business section--gold')
		div(class='container')
			h2(class='subheading subheading--light') Продукты питания


	section(class='section section--light section--holding')
		div(class='container')
			h1(class='subheading subheading--holding') Холдинг федерального значения#[br]«Kavaya Group»
			p(class='description description--holding') Холдинг федерального значения «Kavaya Group» объединяет лучшие компании, являющиеся лидерами в занимаемых секторах внутреннего рынка – «Lafinele», «Food Milk», «Ваша Ферма». Продукция предприятий высоко ценится потребителями за натуральный состав и непревзойденные вкусовые качества – товары поставляются по всей территории России и странам СНГ, в самые известные сети супермаркетов. Также фирмы имеют собственные магазины, где потребители могут приобрести товар от производителя.#[br]#[br]Предприятия, входящие в состав холдинга, имеют многолетний опыт в производстве качественных продуктов питания. История некоторых компаний насчитывает более 25 лет практического опыта. Модернизация цехов, многоступенчатый уровень контроля над выпуском товаров позволили производителям выйти на первые позиции рынка. Из производимых продуктов – кондитерские изделия, кисломолочные напитки, сыры и другая фермерская продукция.

			div(class='content flex-column')
				h3(class='content__title') Объединение компаний федерального уровня
				p(class='description content__description') Основными участниками-партнерами холдинга «Kavaya Group» являются известные компании:
				ul(class='content__list flex-column') 
					li(class='content__item')
						div(class='content__icon-wrapper')
							svg(class='content__icon' viewBox='0 0 18 13')
								use(xlink:href='img/svg/sprite.svg#check')
						span(class='content__text') «Lafinele» – кондитерская продукция швейцарского качества, которая поставляется в самые известные сети супермаркетов. Десерты и другие кондитерские изделия – сочетание оригинальной рецептуры, дизайнерского подхода, вершина кулинарного искусства;

						li(class='content__item')
							div(class='content__icon-wrapper')
								svg(class='content__icon' viewBox='0 0 18 13')
									use(xlink:href='img/svg/sprite.svg#check')
							span(class='content__text') «Food Milk» – компания, основанная в 1992 году, занимающаяся реализацией и производством высококачественных продуктов собственного изготовления. На протяжении многих лет компания поставляет на рынок товары, произведенные по традиционным рецептам;

						li(class='content__item')
							div(class='content__icon-wrapper')
								svg(class='content__icon' viewBox='0 0 18 13')
									use(xlink:href='img/svg/sprite.svg#check')
							span(class='content__text') ТМ «Ваша ферма» – животноводческое предприятие, занимающееся разведением сельскохозяйственных животных и выпуском первоклассных кисломолочных продуктов;

						li(class='content__item')
							div(class='content__icon-wrapper')
								svg(class='content__icon' viewBox='0 0 18 13')
									use(xlink:href='img/svg/sprite.svg#check')
							span(class='content__text') «Хлебосольное подворье Григория Лепса» выпускает продукты питания, алкогольные напитки высокого качества. Основанная в 2019 году, компания быстро завоевала доверие потребителя.

			p(class='description description--holding') Компании стремительно развиваются, внедряя новые производственные технологии, строго соблюдая международные стандартны качества. Перед реализацией товары проходят многократные проверки, благодаря чему потребитель получает только лучшую продукцию. Это позволяет поддерживать репутацию холдинга «Kavaya Group» среди подобных объединений федерального уровня, не сдавать лидирующих позиций во всех занимаемых отраслях.

	section(class='section section--production section--gold')
		div(class='container')
			h2(class='subheading subheading--light subheading--production text-center') Производство продуктов питания
			p(class='description description--production description--light text-center') Продукция представлена во множестве товарных категорий: молочная продукция, сыры, прохладительные напитки, консервация, деликатесы, кондитерские изделия, бакалея и т. д.
			ul(class='production__list')
				li(class='production__item')
					span(class='production__counter') с 1992
					span(class='production__text') на рынке
				li(class='production__item')
					span(class='production__counter') 1500
					span(class='production__text') тонн продукции в день
				li(class='production__item')
					span(class='production__counter') 3
					span(class='production__text') фабрики