footer(class='footer')
	include ../../components/header-footer-wrapper/header-footer-wrapper
	div(class='container')
		div(class='copyright-wrapper')
			p(class='copyright') Copyright #[b ©] 2026 Kavaya Group Все права защищены
			p(class='copyright-text') «Kavaya Group» – многопрофильная группа компаний федерального масштаба, объединяющая 15 компаний в различных секторах экономики Российской федерации.