@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src:
    url('../../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../../fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src:
    url('../../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../../fonts/Montserrat-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src:
    url('../../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../../fonts/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'TikTok Sans 18pt Expanded';
  font-style: normal;
  font-weight: 400;
  src:
    url('../../fonts/TikTokSans18ptExpanded-Regular.woff2') format('woff2'),
    url('../../fonts/TikTokSans18ptExpanded-Regular.woff2') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'TikTok Sans 18pt Expanded';
  font-style: normal;
  font-weight: 500;
  src:
    url('../../fonts/TikTokSans18ptExpanded-Medium.woff2') format('woff2'),
    url('../../fonts/TikTokSans18ptExpanded-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'TikTok Sans 18pt Expanded';
  font-style: normal;
  font-weight: 600;
  src:
    url('../../fonts/TikTokSans18ptExpanded-SemiBold.woff2') format('woff2'),
    url('../../fonts/TikTokSans18ptExpanded-SemiBold.woff') format('woff');
}
